@model IEnumerable<CleanArchMVC.Application.DTOS.ProdutoDTO>



@{
    ViewData["Title"] = "Produtos Cadastrados";
}
<style>
    .modal-lg {
        max-width: 80%;
    }
</style>
<div>
    <h2>@ViewData["Title"]</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div>
            <div class="pull-left">
                <a asp-action="Cadastrar" class="btn btn-primary">
                    <i class="bi bi-plus"></i>
                    <span title="Register New" class="fas fa-plus"></span> Novo produto
                </a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                   Nome 
                </th>
                <th>
                 Descrição
                </th>
                <th>
                    Preço
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preco)
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Ações
                            </button>

                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li>
                                    <a asp-action="Editar" asp-route-id="@item.Id" title="Edit" class="dropdown-item ">
                                        <i class="bi bi-sliders"></i>
                                        Editar
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="dropdown-item ">
                                        <i class="bi bi-x-square"></i>
                                        Excluir
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a asp-action="VisualizarProduto" asp-route-id="@item.Id" class="dropdown-item ">
                                        <i class="bi bi-chevron-bar-right"></i>
                                        visualizar
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>