@model CleanArchMVC.Application.DTOS.ProdutoDTO

<style>
    i {
            font-size: 30px;
    }

    body{
        background-color: #e2e2e2;
    }
</style>

@{
    var valorEmEstoque = Model.Preco * Model.Estoque;
}

<div class="text-center  mt-5">
    <h1 class="border-bottom ">Produto cadastrado</h1>
</div>

<div class="container px-5 ">

    <div class="row gx-5 align-items-center p-4 mt-5 bg-light bg-opacity-75 shadow-lg rounded-3 ">
        <div class="col-lg-7  order-sm-1 mt-2 mb-2  ">
            <div class="container-fluid px-5">
                <div class="row gx-5">
                    <div class="col-md-6 ">
                        <!-- Feature item-->
                        <div class="text-center">
                            <i class="bi-phone icon-feature text-gradient d-block mb-3"></i>
                            <h3 class="font-alt">Nome produto</h3>
                            <p class="text-muted mb-0">@Model.Nome</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-5 ">
                        <!-- Feature item-->
                        <div class="text-center">
                            <i class="bi bi-card-text"></i>
                            <h3 class="font-alt">Descrição</h3>
                            <p class="text-muted mb-0">@Model.Descricao</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-5 ">
                        <!-- Feature item-->
                        <div class="text-center">
                            <i class="bi bi-cash-coin"></i>
                            <h3 class="font-alt">Valores</h3>
                            <p class="text-muted mb-0"> <strong>Preço:</strong>@Model.Preco.ToString("C2") <strong> Quantidade:</strong> @Model.Estoque <strong> Valor Em Estoque </strong> @valorEmEstoque.ToString("C2") </p>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3 ">
                        <!-- Feature item-->
                        <div class="text-center">
                            <i class="bi-patch-check icon-feature text-gradient d-block mb-3"></i>
                            <h3 class="font-alt">Categoria Selecionada</h3>
                            <p class="text-muted mb-0">@Model.Categoria.Nome</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-5 mb-5 order-sm-0">
            <i class="bi-camera icon-feature text-gradient text-center d-block mb-3"></i>
            <img src="@Model.Image" class="d-block mx-lg-auto img-fluid rounded-3 shadow-lg" alt="Imagem informada não existente" width="700" height="500" loading="lazy">
     
        </div>
    </div>
</div>

<div class="text-end mt-5">
    <a asp-action="Index" class="text-decoration-none">
        <i  class="bi bi-arrow-bar-left text-dark"></i>
    </a>
</div>
